body{
    color: rgb(58, 54, 48);
}
.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: aqua;
    font-size: 40px;
    text-align: center;
}
.main-nav__item{
    display: inline-block;
    
}
.main-nav__item a{
    color: aliceblue;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.main-nav__item a:hover{
    color: blue;

}
.main-nav__item a::after{
    content: " | ";
}

